{
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": ["jest"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
