{
  "extends": ["plugin:jest/recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"]
  }
}
